@import '../variables.scss';
@import '../mixins.scss';

.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	max-width: 100%;
	margin: auto 2rem;
	border: white solid 2px;

	section {
		width: 100%;
		padding: 1rem 2rem;
		border: 2px blue solid;
	}

	.center {
		display: flex;
		justify-content: space-between;

		.line-chart {
			width: 60%;
			height: 20rem;
		}
	}
	.bottom {
		display: flex;
		justify-content: space-between;
	}
}
