@import '../variables.scss';
@import '../mixins.scss';

.stock-tile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 10rem;
	max-height: 9rem;
	padding: 1rem;
	border: 1px solid #10365797;
	border-radius: 16px;
	text-align: center;
	background-image: linear-gradient(315deg, #103657 10%, #0b2c49 90%);

	cursor: default;

	p {
		margin: 0;
	}

	span {
		font-size: 0.5rem;
		color: $text;
	}

	.title {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		color: $text;
		margin-bottom: 0.25rem;

		img {
			width: 20px;
			aspect-ratio: 1 / 1;
			object-fit: contain;
		}

		h3 {
			margin: 0;
		}
	}

	p.revenue-quarter {
		font-size: 0.75rem;
		color: $text;
	}

	.revenue-growth {
		display: flex;
		align-items: center;
		gap: 0.325rem;
		font-size: 0.75rem;
		font-weight: 700;
		margin: 0.5rem 0;

		.revenue-change {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		p.current-revenue {
			font-size: 1.375rem;
			font-weight: 700;
			color: $text;
		}

		.positive {
			color: $positive;
		}
		.negative {
			color: $negative;
		}
	}
}
