@import '../variables.scss';
@import '../mixins.scss';

.stock-tile-list {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem;
	gap: 0.75rem;
	background-image: $bgGradient;
	border-radius: 1.25rem;

	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}

	&.left-overflow {
		border-left: 6px solid $accent;
	}

	&.right-overflow {
		border-right: 6px solid $accent;
	}
}
