@import './variables.scss';

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 6px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: $accent;
}

::-webkit-scrollbar-track {
	background-color: $background;
	border: none;
}

html {
	font-size: 16px;

	background-image: linear-gradient(180deg, #0b2c49 5%, #103657 95%);
	background-size: cover;
	background-repeat: no-repeat;

	@media (width <= 375px) {
		font-size: 14px;
	}
}

button {
	cursor: pointer;
	border: unset;
	background-color: unset;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

body {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0;

	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

#app {
	width: 100%;

	.spinner-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(180deg, #0b2c49 5%, #103657 95%);
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 99;

		svg {
			height: 12rem;
			width: 12rem;
			filter: drop-shadow(8px 8px 16px #0e2543);
		}
	}
}
