$text: #cacdd2;
$background: linear-gradient(315deg, #1e3c72 10%, #2a5298 90%);
$bg-hover: #fffcf3;
$btn-hover: #f0dbc766;
$primary: #f0dbc7;
$secondary: #e2cdb9;
$accent: #d9534f;
$feedback: #f8ecdb;

$transparent: #00000000;
$disabled: #606060;
