$text: #fff;

$accent: #5b71b2;
$primary: #fff;
$secondary: #fff;
$negative: #d9534f;
$positive: #66b57a;

$background: #132545;
$transparent: #00000000;
$disabled: #606060;

$bgGradient: linear-gradient(315deg, #0f1d38 10%, #132545 90%);
